<div class="h-100 w-100 mrg-top-10 pdd-horizon-15">
  <div class="mrg-vertical-25">
    <p>Resuma de manera rápida el documento:</p>
    <mat-form-field class="mrg-top-10 w-100" appearance="outline">
      <mat-label>Observacion</mat-label>
      <textarea  matInput placeholder="Descripción" [(ngModel)]="documento.observacion"></textarea>
      <mat-icon matSuffix>textsms</mat-icon>
    </mat-form-field>
  </div>
  <!--p>Este documento es una contestación de los siguientes documentos:</p>
  <div class="mrg-top-15 btn-agregar-referencia">
    Agregar referencia
  </div-->
</div>