.panel-header {
    background: #3589fd;
    height: 64px;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 99;
}

.panel-body {
    background: white;
}

.observacion {
    border: 1px solid #c7c7c7;
}