<div class="h-100 w-100 relative" fxLayout="column" fxLayoutAlign="start stretch">
    <app-loader *ngIf="isCallbacking"></app-loader>
    <div class="panel-header mat-elevation-z6" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <button class="mrg-left-5" (click)="clickBack.emit()" mat-icon-button>
          <mat-icon class="text-white">arrow_back</mat-icon>
        </button>
        <div class="mrg-left-10 text-white font-size-18">
          Subir escaneo de documento
        </div>
      </div>
      <div>
        <button mat-button (click)="subirEscaneo()" class="text-white mrg-right-5" *ngIf="file">Subir</button>
      </div>
    </div>
    <div class="panel-body h-100 h-100 relative pdd-top-65">
      <ng-container *ngIf="!file">
        <div class="upload-panel h-100 w-100 padding-15 pointer" (click)="file = null; fileUploader.click()" fxLayout="column" fxLayoutAlign="center center">
            <div class="subir-panel"fxLayout="column" fxLayoutAlign="center center">
              <mat-icon>picture_as_pdf</mat-icon>
              <div class="msg open-sans">Click para subir un documento</div>
            </div>
        </div>
      </ng-container>
      <ng-container *ngIf="file">
        <div class="archivo-panel h-100 w-100 padding-15" fxLayout="column" fxLayoutAlign="center center">
          <div class="archivo-subido-panel mat-elevation-z6" fxLayout="column" fxLayoutAlign="center center">
            <img src="assets/images/pdf.png" height="80px"/>
            <div class="msg open-sans mrg-top-15">{{ file.name }}</div>
          </div>
          <button class="mrg-top-15" mat-button color="warn" (click)="file = null;" accept="application/pdf">Subir otro archivo</button>
        </div>
      </ng-container>
    </div>
  </div>

<input #fileUploader type="file" (change)="onChange(fileUploader)" style="display: none;" accept="application/pdf"/>