.dia {
    cursor: pointer;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #cacaca;
    color: #000000;
    font-weight: 500;

    &:hover {
        color: #1967d2;
        border-bottom: 1px solid #1967d2;
    }
}

.grupo-observaciones {
    padding: 10px 0px;
}

.nombre {
    font-weight: 500;
}

.direccion {
    font-size: 14px;
    color: #797575;
}

.observacion {
    margin-top: 12px;
}

.estado {
    width: fit-content;
    padding: 1px 10px;
    border-radius: 21px;
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 2px;
    color: #5f5e5e;
    background: #c3c3c3;

    &.respondido {
        background: #1967d2;
        color: white;
    }
}

.fechaRespuesta {
    font-size: 13px;
    color: #9a9797;
}